*{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
}
body{
	height: 100%;
  	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	list-style: none;
}
ul,ol,li{
	list-style: none;
}
.sec-one{
	/*background:linear-gradient(#0000a1,#1a0999,#39bae8);*/
	background: linear-gradient(#1a1999,#1a0999,#395ecb);
	-webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.sec-two{
	margin:0 150px;
	height: 730px;
}
.header{
    width: auto;
	height: 66px;
	line-height: 66px;
	padding: 0 25px;
	box-sizing: border-box;
	display: -webkit-flex;
	justify-content: space-between;
	border-bottom:1px solid #eeeaaa;
}
.logo a{
	display: -webkit-flex;
	align-items: center;
}
.logo img{
	height: 48px;
}
.logo p{
	width: 130px;
	font-style: oblique;
    color: hsla(0, 0%, 100%, .65);
    font-weight: 800;
    font-size: 30px;
    background-image: -webkit-linear-gradient(left, #006eb0, #00a9db 25%, #006eb0 50%, #00a9db 75%, #006eb0);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-background-size: 200% 100%;
    -webkit-animation: masked-animation 2s infinite linear;
}
.logo p:hover{
	-webkit-animation: masked-animation 0.5s infinite linear;
}
@-webkit-keyframes masked-animation {
    0% {
        background-position: 0 0
    }
    to {
        background-position: -100% 0
    }
}
.nav{
	display: -webkit-flex;
}
.nav li{

}
.nav li a{
	border-radius: 4px;
	padding: 5px 20px;
	margin: 0 5px;
	color:  #00a9db;
}
.nav li a:hover{
	background: #fff;
	color: #000;
}
.probable{
	text-align: center;
	position: absolute;
	bottom: 33%;
	right: 18%;
}
.probable h1{
	font-style: oblique;
	font-size: 48px;
	line-height: 70px;
    background-image: -webkit-linear-gradient(left, #006eb0, #00a9db 25%, #006eb0 50%, #00a9db 75%, #006eb0);
	 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.probable span{
	font-size: 24px;
	line-height: 70px;
    background-image: -webkit-linear-gradient(left, #006eb0, #00a9db 25%, #006eb0 50%, #00a9db 75%, #006eb0);
	 -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.probable ul{
	line-height: 70px;
	display: flex;
	justify-content: space-around;
}
.probable a{
	padding: 5px 15px;
	background: #fff;
	border-radius: 4px;
	color: #000;
}
.jt{
	cursor: pointer;
	width: 25px;
	height: 13px;
	position: absolute;
    left: 50%;
    bottom: 3%;
    margin-left: -17px;
    animation: jt_ani 1.3s infinite linear;
}
@keyframes jt_ani{
	0%{
		transform: translateY(0);
	}
	50%{
		transform: translateY(13px);
	}
	100%{
		transform: translateY(0);
	}
}
.foo{
	padding:0 150px;
	text-align: center;
    width: auto;
	line-height: 50px;
	font-size:13px;
	color: #666666;
	border-top:1px solid #999;
}
